@tailwind base;
@tailwind components;
@tailwind utilities;

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@font-face {
  font-family: "inter";
  src: url("/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "inter";
  src: url("/fonts/Inter-SemiBold.ttf");
  font-weight: bold;
}

